<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="https://localhost/KlzCert/HomeHandler.svc" behaviorConfiguration="cfgEndPointBehavior"
        binding="basicHttpBinding" bindingConfiguration="cfgBinding"
        contract="Klz.Cert.Client.IHomeHandler" name="wch" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="cfgBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>

          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="cfgEndPointBehavior">
          <clientCredentials>
            <clientCertificate findValue="0a dc 42 30 51 45 e5 3a 07 eb c2 fd 61 99 29 c7 f1 24 d6 0d" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>